<nav class="bg-gray-900 text-white p-4">
  <div class="mx-auto flex flex-col items-start h-screen">
    <a class="text-xl font-bold py-4" routerLink="/">Dashboard</a>

    <button class="md:hidden p-2 rounded bg-gray-700" (click)="toggleMenu()">
      ☰
    </button>

    <ul class="hidden md:flex flex-col space-x-6 space-y-4">
      <li>
        <a
          routerLink="/"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-400"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/customers"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-400"
          >Clients</a
        >
      </li>
    </ul>

    <ul
      *ngIf="isMenuOpen"
      class="absolute top-16 left-0 w-full bg-gray-800 md:hidden flex flex-col items-center p-4 space-y-4"
    >
      <li>
        <a
          routerLink="/"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-400"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/customers"
          routerLinkActive="text-blue-400"
          class="hover:text-gray-400"
          >Clients</a
        >
      </li>
    </ul>
  </div>
</nav>
